#slide-home{
  text-align: center;
  margin: 20px auto;
}

.qa-navbar{
  position: sticky;
  top: 0;
  z-index: 5;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.qa-navbar .links{
  width: 100%;
  display: flex;
  padding: .3em 0em;
  justify-content: space-evenly;
  align-items: center;

}
.qa-navbar .hidden-links
{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.qa-navbar:hover .hidden-nav {
  max-height: 1000px;
  transition: max-height .3s ease-in-out 0s ;
  width: 100%;
  display: flex;
  padding: .6em 0em;
  justify-content: space-evenly;
  align-items: center;
  z-index: 5;
  position: absolute;
  top: 100%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  background: linear-gradient(270deg, #31628D 0.87%, #3A70A0 10.35%, #3A6FA0 20.55%, #468BB4 29.72%, #4A92B9 39.92%, #54A1CA 50.11%, #4E9ABF 54.19%, #4A93BA 60.82%, #478DB5 66.94%, #3A6FA0 76.62%, #3A70A0 82.74%, #32658F 97.02%);

}
.hidden-nav {
  max-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.qa-navbar .links a, .hidden-links a{
  font-family: 'Tilt Neon', cursive;
}



.btn-carousel a{
  font-family: 'Tilt Neon', cursive;
}

.qa-link {
  color: white;
  text-decoration: none;
}

.qa-link:hover {
  color: black;
}


.card-down {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  padding: 5px 18px;
  background-color: #ffffff;
  margin: 20px;
  height: 300px;
  width: 20em;
  margin-bottom: 5%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
@media screen and (max-width:350px) {
  .card-down{
    margin: 10px auto;
  }
}

.heading {
  position: absolute;
  width: 1280px;
  height: 116px;
  left: 80px;
  top: 675px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  color: #000000;
}

.btn-carousel {
  background: linear-gradient(180deg, #254380 0%, #0097d8 100%);
  border-radius: 10px;
  font-weight: 400;
  font-size: 25px;
  line-height: 42px;
  color: #ffffff;
  cursor: pointer;
  margin-top: 20px;
}

.btn-carousel:hover {
  transform: scale(1.01);
  color: purple;
  background: linear-gradient(180deg, #1779a7 0%, #0097d8 100%);
}

.home-img {
  width: 100%;
  height: 100%;
  aspect-ratio: 3/2;
}

.home-img:hover {
  transform: scale(1.05);
  transition: 0.5s all ease;
}

.container-slider{
  margin-bottom: 5%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}



.btn-start{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.btn-carousel a{
  text-decoration: none;
  color: white;
  font-weight: 200;
  display: block;
  width: 100%;
  
}

.slide-home{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}




/* Progies */

/* .popup{
  background-color: #ffff;
  width:80%;
  padding: 30px 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 8px;
  font-family: "Poppins",sans-serif;
  display: none; 
  text-align: center;
  z-index: 500;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.popup button{
  display: block;
  margin:  0 0 20px auto;
  background-color: transparent;
  font-size: 30px;
  color: #ffffff;
  border: none;
  outline: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

.popup img{
  width: 20%;
}

.popup p{
margin-top: 2%;
font-weight: 600;
}
.popup a{
  display: block;
  width: 150px;
  position: relative;
  margin: 10px auto;
  text-align: center;
  background-color: #b9279a;
  border-radius: 20px;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 0;
}

.popup-btn {
  position: fixed;
  bottom: 50px;
  right: 20px;
  padding: 10px;
  background: #ffffff;
  color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 4;
  width: 20%;
}

.popup-btn a {
  color: black;
  font-weight: 600;
  text-decoration: none;

}

.popup-btn:hover{
  transform: scale(1.03);
}


.popup h2{
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */


/* Set initial state of card-down to be hidden */

/* .card-down:nth-child(odd){
  opacity: 0;
  transform: translateX(100%);
}
.card-down:nth-child(3){
  opacity: 0;
  transform: translateX(-100%);
}
.card-down:nth-child(5){
  opacity: 0;
  transform: translateY(-100%);
}
.card-down:nth-child(even){
  opacity: 0;
  transform: translateY(100%);
}
.card-down:nth-child(2){
  opacity: 0;
  transform: translateY(-100%);
}
.card-down:nth-child(6){
  opacity: 0;
  transform: translateX(-100%);
} */


/* Animate the card-down element when it becomes visible */
/* .card-down.animated{
  opacity: 1;
  transform: translateX(0%);
  transition: all 1.5s ease-in-out .6s;
} */






@media screen and (max-width: 1024px) {

  .qa-navbar{
    display: none;
  }
  
}